.page-erreur {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: rgba(255, 96, 96, 1);
}
.nabvar-page-error{
  margin-left: 5%;
  margin-right: 5%;
}
.number-404-message {
  font-size: x-large;


}
.number-404 {
  font-weight: 700;
  font-size: 288px;
  margin: 0px;
 
}



.message-erreur{
  font-size: 36px;
  font-weight: 500;
  display: flex;
  
}


.lien {
  display: flex;
  color: #ff6060;
  margin-top: 50px;
  font-size: large;
  margin-bottom: 60px;
}

@media screen and (max-width: 768px)  {
  .number-404-message {
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  .number-404 {
    margin-bottom: 100px;
    margin-top: 44px;
    font-size: 100px;
  }
  
  .lien {
    margin-top: 100px;
  }
  .message-erreur{
    font-size: 18px;
    flex-direction: column;
  
  }
  .message-error-2{

    width: 100%;
    margin: 0;
  
  
  }

}


@media  screen and (min-width : 768px) and (max-width : 3000px) {
   
  .page-erreur {
    padding-left: 5%;
    padding-right: 5%;
  
  }
  .nabvar-page-error{
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .number-404 {
    margin-bottom: 100px;
    margin-top: 140px;
      font-size: 200px;
      font-weight: 700;
    }
    .message-erreur{
      font-size:30px;
    
    
    }
    
    .nabvar-page-error{
      padding-left: 5%;
      padding-right:5% ;
    }
}