.banner-about{

margin-left: 3%;
margin-right: 3%;
}
.navbar-about{
  margin-left: 3%;
margin-right: 3%;
}
.collapse-about {
  
     margin-top: 30px;
     width: 71%;
     margin-left: 12%;
     
     display: flex;
     flex-direction: column;
     
}

@media  (min-width : 651px) and (max-width : 1200px)  {
    .container-about {
      margin-left: 3%;
      margin-right: 3%;
  }
}
