.container-about{
  padding-left: 5%;
  padding-right: 5%;
}
.collapse-about {
  margin-bottom: 30px;
  margin-top: 30px;
}

@media  (min-width : 651px) and (max-width : 1200px)  {
    .container-about {
    padding-left: 5%;
    padding-right: 5%;
  }
}
