.banner-about{

margin-left: 3%;
margin-right: 3%;
}
.navbar-about{
  margin-left: 3%;
margin-right: 3%;
}
.collapse-about {
  
     margin-top: 30px;
     width: 71%;
     margin-left: 12%;
     
     display: flex;
     flex-direction: column;
     
}
@media screen and (max-width: 768px)  {
  .collapse-about {
  
    margin-top: 30px;
    width: 80%;
    margin-left:5%;

}

}

 

