.tags-list {
  border: 2px solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  color: white;
  width: 100%;
  margin-top: 20px;

}
.elt-tag {
  background: #ff6060;
  width: 30%;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  padding: 5px 5px;
  
}
@media screen and (max-width: 600px) {
  .accommodation-tag {
    width: 100%;
  }
  .tags-list {

  }
  .elt-tag {
  }
}
