.cards {
  background: #f6f6f6;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  grid-gap: 40px;
  justify-items: center;
  place-content: center;

  

}

@media screen and (max-width: 650px) {
  .cards{
    grid-template-columns: 1fr;

    background:transparent;
    padding: 20px 39px 0 58px;
  }
}