.host {
  display: flex;
flex-direction: row-reverse;
  align-items: center;
}
.picture-host .img {
  border-radius: 50%;
}
.name-host {
  color: #ff6060;
  font-size: 20px;
  padding: 10px 10px 0px 0px ;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .host {
    width: 40%;
    flex-direction: row-reverse;
    justify-content: space-evenly;
padding-right: 5%;
  }
  .picture-host .img {
    height: 55px;
  }
  .name-host {
    font-size: 15px;
  }
}
