.collapse-content-header {
  height: 20px;
  display: flex;
  background: #ff6060;
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
 
}
.collapse-title {
  font-size: 24px;
}


.collapse-content {
  background: #f6f6f6;
  border-radius: 5px;
 
  color: #ff6060;
  padding: 20px;
  font-size: large;
   margin-bottom: 20px;
}
.list-equipment{
  list-style: none;
}
