.description-apartment {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;

}

.aprtment-information {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px 30px 0px;
  color: #ff6060;
  width: 100%;
}
.location-apartment {
  margin-top: 20px;
  font-size: 20px;
}
.informations {
  width: 60%;

}
.host-content {
  display: flex;
  flex-direction: column;
 
  
}
.collapse-content-collapse {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 87%;

}
.collapse {
  width: 45%;
}
@media screen and (max-width: 767px) {
  .aprtment-information {
    flex-direction: column;
  }
  .collapse-content-collapse {
    flex-direction: column;
    width: 78%;

  }
  .collapse {
    width: 100%;
    margin-bottom: 25px;
  }
  .informations {
    width: 100%;
;
    margin-top: 20px;
    
  }
  .host-content {
    width: 100%;
    flex-direction: row-reverse;
   justify-content: space-between;
  }
  .title-aprtment {
    font-weight: 400;
    width: 70%;
    font-size: 18px;
    width: 100%;
  }
}
@media  screen and (min-width : 768px) and (max-width : 1023px) {
  .description-apartment{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
}