.description-apartment{
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}


.aprtment-information{

    display: flex;
   justify-content: space-between;
 
    margin:  50px 0px 0px 70px;
    color: #ff6060;
}
.location-apartment{
    margin-top: 20px;
    font-size: 20px;
 
}

.collapse-content {
    display: grid;
    grid-template-columns: 500px repeat(auto-fill, 500px) 100px;
   

    background-color: transparent;
    margin: 0px;
    
    
}