.footer{
    background-color: #000000;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding-top: 30px;
    height: 250px;
}
.footer_copyright{
    color: #ffffff;

   
}


@media screen and (max-width: 600px) {
    .footer{
        height: 200px;
       margin-top: 30px;
    
    }
 }
 @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .footer{
        height: 260px;
    
    
    }}
