.footer{
    background-color: #000000;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding-top: 30px;
    height: 210px;

}
.footer_copyright{
    color: #ffffff;

   
}


@media screen and (max-width: 764px) {
    .footer{
        height: 200px;
       margin-top: 30px;
    
    }
 }
 @media only screen and (min-width: 765px) and (max-width: 1023px) {
    .footer{
        height: 260px;
    
    
    }}
