.picturess-carousel{
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;

}

.navbar-accommodation{
    margin-left: 5%;
    margin-right: 5%;
}
.collapse-content-collapse{
  margin-left: 5%;
  margin-right: 5%;
}