* {
  
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
body {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
